* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}


.center {
    width: 50%;
    height: 50vh;
    margin: 3% auto 0 auto;
    border: 2px solid wheat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}


.navigation {
    display: flex;
    gap: 10px;
}

.bar {
    height: 15px;
    width: 15px;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    opacity: .8;
    transition: all .5s ease;
}

.bar:hover {
    opacity: 1;
    transform: scale(1.1);
}

input[name='r'] {
    display: none;
}


.slide {
    width: 25%;
    height: 100%;
    transition: all .5s ease;
}

.slide-1 {
    background-color: red;
    background-image: url('assets/3.jpg');
    background-size: cover;
    background-position: center;
}

.slide-2 {
    background-color: blue;
}

.slide-3 {
    background-color: blueviolet;
}

.slide-4 {
    background-color: cornflowerblue;
}


#r1:checked ~ .slider .slides .slide-1,
#r1:checked ~ .slider .slider-bottom .quotes-container .slider-quotes .p-1 {
    margin-left: 0;
}
#r2:checked ~ .slider .slides .slide-1,
#r2:checked ~ .slider .slider-bottom .quotes-container .slider-quotes .p-1{
    margin-left: -25%;
}
#r3:checked ~ .slider .slides .slide-1,
#r3:checked ~ .slider .slider-bottom .quotes-container .slider-quotes .p-1{
    margin-left: -50%;
}
#r4:checked ~ .slider .slides .slide-1,
#r4:checked ~ .slider .slider-bottom .quotes-container .slider-quotes .p-1{
    margin-left: -75%;
}


.slider-bottom {
    display: flex;
    justify-content: space-between;
    margin: 50px;

}

.quotes-container {
    width: 100%;
    overflow: hidden;
}

.slider-quotes {
    width: 400%;
    display: flex;
}

.p {
    width: 25%;
    transition: all 0.5s ease;
}
.p-1 {
    background-color: greenyellow;
}

.p-2 {
    background-color: palegreen;
}

.p-3 {
    background-color: pink;
}

.p-4 {
    background-color: deeppink;
}